<!-- login.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
<h2>Login</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
</form>
<p>Don't have an account? <a href="{% url 'register' %}">Register here</a>.</p>
{% endblock %}
