.profile-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.profile-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.profile-container form div {
    margin-bottom: 15px;
}

.profile-container label {
    display: block;
    font-weight: bold;
}

.profile-container input[type="text"],
.profile-container input[type="email"],
.profile-container input[type="file"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.profile-container img {
    display: block;
    margin: 10px 0;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.profile-container .button-container {
    text-align: center;
}

.profile-container .button-container button {
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.profile-container .button-container button:hover {
    
    background-color: #bb0a21;
    color: #000000;
}


.profile-container .logout-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #555;
}

.profile-container .logout-link:hover {
    color: #000;
}
