{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap">
{% endblock %}


{% block content %}
<h1>Welcome to the Secondhand Marketplace!</h1>
        <section>
            <h2>Categories</h2>
            <div class="categories">
                {% for category in categories %}
                    <a href="{% url 'category_listings' category.id %}">{{ category.name }}</a>
                {% endfor %}
            </div>
        </section>
        <section>
            <h2>Paid Listings</h2>
            <div class="listings">
                {% for listing in listings %}
                    <div class="listing-card">
                        <img src="{{ listing.image.url }}" alt="{{ listing.title }}" class="listing-image">
                        <h3><a href="{% url 'listing_detail' listing.slug %}">{{ listing.title }}</a></h3>
                        <p>{{ listing.description|truncatewords:20 }}</p>
                        <p><strong>${{ listing.price }}</strong></p>
                    </div>
                {% endfor %}
            </div>
        </section>
{% endblock %}
