{% extends 'base.html' %}
{% load static %}
{% block title %}Profile{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="profile-container">
    <h2>Profile</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label for="{{ u_form.username.id_for_label }}">Username:</label>
            {{ u_form.username }}
        </div>
        <div>
            <label for="{{ u_form.email.id_for_label }}">Email:</label>
            {{ u_form.email }}
        </div>
        <div>
            <label for="{{ u_form.profile_picture.id_for_label }}">Profile picture:</label>
            {% if user.profile_picture %}
                <img src="{{ user.profile_picture.url }}" alt="Profile Picture">
            {% else %}
                <img src="{% static 'img/default_profile_pic.jpg' %}" alt="Default Profile Picture">
                <p>No profile picture uploaded.</p>
            {% endif %}
            {{ u_form.profile_picture }}
        </div>
        <div class="button-container">
            <button type="submit">Save</button>
        </div>
    </form>
    
</div>
{% endblock %}
